body {
    background-color: #F6F6F6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    margin-left: -30px;
}

.items {
    position: absolute;
    top: 93px;
    left: 250px;
   color: white;
   background-color: #581845;
   width: 1250px;
   padding-left: 20px;
}

.categories h2 {
    padding: 20px;
    background-color: #171717;
    color: white;
}